wget-log*
.venv
__pycache__
.DS_Store
.config/nvim/lua/local.lua
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/qsettings
.config/tmux/plugins
.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables*
.config/jj/conf.d
.config/jj/repos
.config/kitty/current_theme.conf
.config/waybar/style.css
.config/qt5ct/colors
.config/qt6ct/colors
.config/mako/config
